- death percentage by infected
- percent population infected

In [1]:
import requests

read = requests.get('https://data.covid19.go.id/public/api/update.json')

In [2]:
read.headers

{'Server': 'nginx', 'Date': 'Sat, 14 Aug 2021 11:14:32 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding, Accept-Encoding', 'Last-Modified': 'Sat, 14 Aug 2021 11:14:04 GMT', 'ETag': 'W/"6117a57c-3223d"', 'X-Content-Type-Options': 'nosniff, nosniff', 'X-XSS-Protection': '1; mode=block, 1; mode=block', 'Strict-Transport-Security': 'max-age=31536000; includeSubDomains; preload', 'Content-Encoding': 'gzip'}

In [3]:
data = read.json()
data.keys()

dict_keys(['data', 'update'])

In [4]:
data['data']

{'id': 1,
 'jumlah_odp': 308852,
 'jumlah_pdp': 0,
 'total_spesimen': 28966108,
 'total_spesimen_negatif': 20156355}

In [5]:
data_update = data['update']
data_update.keys()

dict_keys(['penambahan', 'harian', 'total'])

In [6]:
data_update['penambahan']

{'jumlah_positif': 28598,
 'jumlah_meninggal': 1270,
 'jumlah_sembuh': 31880,
 'jumlah_dirawat': -4552,
 'tanggal': '2021-08-14',
 'created': '2021-08-14 18:12:27'}

In [7]:
data_update['total']

{'jumlah_positif': 3833541,
 'jumlah_dirawat': 395577,
 'jumlah_sembuh': 3321598,
 'jumlah_meninggal': 116366}

In [8]:
# stelah di cek, data_update['harian'] berbentuk list dengan setiap elemennya adalah dictionary
len(data_update['harian'])

531

In [9]:
# membuat dataframe
import pandas as pd

df = pd.DataFrame(data_update['harian'])
df.head()

,key_as_string,key,doc_count,jumlah_meninggal,jumlah_sembuh,jumlah_positif,jumlah_dirawat,jumlah_positif_kum,jumlah_sembuh_kum,jumlah_meninggal_kum,jumlah_dirawat_kum
0,2020-03-02T00:00:00.000Z,1583107200000,1,{'value': 0},{'value': 0},{'value': 2},{'value': 2},{'value': 2},{'value': 0},{'value': 0},{'value': 2}
1,2020-03-03T00:00:00.000Z,1583193600000,1,{'value': 0},{'value': 0},{'value': 0},{'value': 0},{'value': 2},{'value': 0},{'value': 0},{'value': 2}
2,2020-03-04T00:00:00.000Z,1583280000000,1,{'value': 0},{'value': 0},{'value': 0},{'value': 0},{'value': 2},{'value': 0},{'value': 0},{'value': 2}
3,2020-03-05T00:00:00.000Z,1583366400000,1,{'value': 0},{'value': 0},{'value': 0},{'value': 0},{'value': 2},{'value': 0},{'value': 0},{'value': 2}
4,2020-03-06T00:00:00.000Z,1583452800000,1,{'value': 0},{'value': 0},{'value': 2},{'value': 2},{'value': 4},{'value': 0},{'value': 0},{'value': 4}

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   key_as_string         531 non-null    object
 1   key                   531 non-null    int64
 2   doc_count             531 non-null    int64
 3   jumlah_meninggal      531 non-null    object
 4   jumlah_sembuh         531 non-null    object
 5   jumlah_positif        531 non-null    object
 6   jumlah_dirawat        531 non-null    object
 7   jumlah_positif_kum    531 non-null    object
 8   jumlah_sembuh_kum     531 non-null    object
 9   jumlah_meninggal_kum  531 non-null    object
 10  jumlah_dirawat_kum    531 non-null    object
dtypes: int64(2), object(9)
memory usage: 45.8+ KB

In [16]:
# ekstrak value dari dictionary
v_ekstrak = ['jumlah_meninggal', 'jumlah_sembuh', 'jumlah_positif', 'jumlah_dirawat', 
             'jumlah_positif_kum', 'jumlah_sembuh_kum', 'jumlah_meninggal_kum', 'jumlah_dirawat_kum']

for i in v_ekstrak:
    df[i] = (
        df[i]
        .apply(lambda x: x['value'])
    )

In [17]:
df.head()

,key_as_string,key,doc_count,jumlah_meninggal,jumlah_sembuh,jumlah_positif,jumlah_dirawat,jumlah_positif_kum,jumlah_sembuh_kum,jumlah_meninggal_kum,jumlah_dirawat_kum
0,2020-03-02T00:00:00.000Z,1583107200000,1,0,0,2,2,2,0,0,2
1,2020-03-03T00:00:00.000Z,1583193600000,1,0,0,0,0,2,0,0,2
2,2020-03-04T00:00:00.000Z,1583280000000,1,0,0,0,0,2,0,0,2
3,2020-03-05T00:00:00.000Z,1583366400000,1,0,0,0,0,2,0,0,2
4,2020-03-06T00:00:00.000Z,1583452800000,1,0,0,2,2,4,0,0,4

In [ ]:
# coba plot

In [57]:
# fungsi cek key dictionary
def cek_key(dictionary, value=False):
    '''
    cek key dari dictionary, value adalah kondisi apakah ingin menampilkan jumlah dari data key
    '''
    
    if value:
        for key, val in dictionary.items():
            print(key, '->', len(val))
    else:
        if type(dictionary) == list:
            print('len:', len(dictionary))
            print()
            print(dictionary[0])
        else:
            for key in dictionary.keys():
                print(key)